body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* GENERAL CSS */
* {
	margin: 0;
	padding: 0;
}

:root {
	--color3: #00203FFF;
	--color0: rgba(173, 239, 209, 0.778);
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

/* NAV CSS */
nav {
	background-color: rgba(0, 0, 0, 0.54);
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	margin: 10px 10px;
	padding: 4px 20px;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	color: var(--color0);
}

.nav-item:hover {
	background-color: rgb(12, 12, 12);
}

.nav-btn {
	margin: 0px 20px;
	text-align: center;
	cursor: pointer;
}

/* BOX CSS */
.body {
	background-color: var(--color3);
	min-height: 100vh;
	color: var(--color0);
	padding: 20vh 10vw;
	word-wrap: break-word;
	text-align: center;
}
.body > h2 {
	padding: 2rem;
	font-size: 2rem;
	font-family: 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

